:root{
  --cinza: #EBEBEC;
  --preto: #272727;
  --rosa: #F06197;
  --verde: #36b59f;

}

/* Resete da margem padrão do arquivo */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--cinza);
}

body, input, textarea, button{
  font-family: sans-serif;
  font-size: 1rem;
  color: var(--preto);
}