/* Estilo do container do filtro */
.filtroLugar {
    margin: 20px 0;
}

/* Estilo para o select */
.selectLugar {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    width: 100%;
    max-width: 300px;
}

/* Estilo do botão */
.btnEscolherLook {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2c7be5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
}

.btnEscolherLook:hover {
    background-color: #1a64b0;
}